main {
    background-color: #DDD;
    width: 100%;
    height: 573px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    // background-color: #000;

    width: 55%;
    height: 90%;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task_list {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task_list:hover {
    cursor: pointer;

    background-color: #BBB;
}

.task_list:first-child:hover {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.task_list:last-child:hover {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.text {
    margin-left: 5%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a { 
    color: #111 ;
}