<!-- <div class = 'tasklists'>
  <div *ngFor="let taskList of tasklists" (click) ="getTasks(taskList)">{{taskList.id}} - {{taskList.name}}</div>
</div>

<br><br>


<div class = 'tasks'>
  <div *ngFor="let task of tasks">{{task.id}} - {{task.name}} - {{task.created_at}} - {{task.due_on}} - {{task.status}}</div>
</div> -->

CREATE CATEGORY:
<div>
  <input type="text" [(ngModel)]="name" />
  <button (click)="createTaskList()">Create</button>
</div>

CATEGORIES

  <div>
    <div *ngFor="let taskList of tasklists">
      <span (click)="getTasks(taskList)">
        <input type="text" [(ngModel)]="taskList.name" />
      </span>
      <span style="color: red" (click)="deleteTaskList(taskList)"> Удалить</span>
      <span style="color: green" (click)="updateTaskList(taskList)"> Изменить</span>
    </div>
  </div>

<br/>
PRODUCTS:
<div class = 'tasks'>
  <div *ngFor="let task of tasks">{{task.id}} - {{task.name}} - {{task.created_at}} - {{task.due_on}} - {{task.status}}</div>
</div> 
